/* CSS Reset: http://meyerweb.com/eric/tools/css/reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**************************************************/

#body{
  font-family: 'Asap', roboto, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #150c21;
}

#main {
  width: 54em;
  margin: 0px auto;
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: rgb(20, 110, 190);
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid rgb(20, 110, 190);
}

i {
  font-style: italic;
}

b {
  font-weight: 700;
}

h1 {
  font-size: 2.4em;
  line-height: 3em;
  font-weight: 500;
}

/**************************************************/
/* Profile image and description. */

#intro {
  padding-top: 6em;
  display: flex;
}

#intro-text {
  width: 40em;
  float: left;
}

#intro-image {
  margin: 7em 0 0 2em;
  width: 12em;
  height: 12em;
  float: left;
  overflow: hidden;
  border-radius: 1em;
}

#intro-image img {
  width: 12em;
}

/**************************************************/
/* Section buttons. */

#menu {
  display: flex;
}

.menu-item {
  float: left;
  margin-right: 2em;
}

h2 {
  font-size: 1.6em;
  line-height: 2.4em;
  margin-top: 0.5em;
  color: #a0a8b0;
}

.selected h2 {
  color: #150c21;
}

.button {
  display: inline-block;
  cursor: pointer;
  border: none;
  background: none;
  color: #a0a8b0;
  font-size: 1.6em;
  line-height: 2.4em;
  margin-top: 0.5em;
  margin-right: 1em;
  float: left;
  padding: 0;
}

.button:hover {
  color: #150c21;
}

.button:active,
.button.is-checked {
  color: #150c21;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

/**************************************************/
/* Isotope grid list of items. */

.grid {
  padding-bottom: 6em;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.description {
  margin-bottom: 1em;
}

.list-item {
  width: 100%;
  line-height: 1em;
  margin-top: 1em;
}

.list-item p.date {
  display: inline-block;
  width: 3em;
  color: #a0a8b0;
}

/**************************************************/
/* Gallery of 3 preview videos. */

.previews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  height: 12.5em;
}

.previews video {
  border-radius: 5px;
}

.previews a:hover {
  border: none;
}

.preview1 {
  grid-column: 1;
  height: 350px;
}
.preview2 {
  grid-column: 1;
  width: 50%;
}
.preview3 {
  grid-column: 3;
  width: 100%;
}

/**************************************************/
/* Buttons for showing more or less highlights. */

.toggle-button {
  margin-top: 2em;
}

.toggle-button a {
  color: #a0a8b0;
}

.toggle-button a:hover {
  color: rgb(20, 110, 190);
}

/**************************************************/
/* Publication details (thumbnail media, title, and description). */

.thumbnail {
/*  width: 21%;*/
  width: 18%;
  float: left;
  margin-right: 2%;
}

.thumbnail:hover {
  border-bottom: none;
}

.thumbnail img {
  margin-top: 0.4em;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.thumbnail video {
  margin-top: 0.4em;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

h3 {
  font-size: 1em;
  line-height: 1.5em;
}

h3 a {
  color: #150c21;
}

h3 a:hover {
  color: rgb(20, 110, 190);
}

.publication {
  margin-bottom: 0.5em;
}

.publication p {
  font-size: 1em;
  line-height: 1.5em;
  color: #a0a8b0;
}

.project-description {
  width: 80%;
  float: left;
}

/**************************************************/
/* Subtle footer at the bottom of the page. */

#footer {
  color: #a0a8b0;
  position: absolute;
  bottom: 0;
  line-height: 2.5em;
}

/**********/
/* Section title */
.section-title h2 {
  font-size: 1.5em; /* Adjust size as needed */
  margin-bottom: 0.5em; /* Space below the title */
  color: #333; /* Adjust color as needed */
}

/**********/
/* Misc */

  .misc p {
    font-size: 1em;
    line-height: 1em;
    color: #a0a8b0;
  }
  

/**********/
/* Teaser */
.grid-container {
  display: grid;
  grid-template-columns: auto repeat(2, 1fr); /* 1 column for the vertical image, 2 fractions for others */
  gap: 10px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.grid-item img {
  width: auto;
  max-width: 100%; /* Maximum width is the full container width */
  max-height: 350px; /* Maximum height set to a fixed value */
  height: auto;
}

.grid-item.vertical {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 100 ;
}

@media (max-width: 500px) {
  .grid-container {
    grid-template-columns: 1fr; /* Single column layout on small screens */
  }

  .grid-item {
    margin-bottom: 10px; /* Add margin between items */
    max-width: 90%; /* Max width of 90% of the grid container */
    justify-content: flex-start; /* Align images to the start */
  }

  .grid-item.vertical {
    grid-row: 1; /* Vertical image no longer spans two rows */
  }
}

/**********/
/* Preloader */
#preloader {
  position: fixed;
  top: 0;
   left: 0;
   right: 0;
   bottom: 0;
  background:url(images/preloader.gif) no-repeat #FFFFFF 50%;
  -moz-background-size:64px 64px;
  -o-background-size:64px 64px;
  -webkit-background-size:64px 64px;
  background-size:64px 64px;
  z-index: 99998;
  width:100%;
  height:100%;
}

/* This will hide the scrollbar during loading */
body.loading {
  overflow: hidden;
}


/**********/
/* Video Gallery */

.video-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 columns */
  gap: 10px;
  margin-bottom: 20px; /* Space below the grid */
}

.video-item {
  margin-bottom: 10px; /* Space below each video */
}

.video-title {
  text-align: center;
  margin-bottom: 5px; /* Space between the title and the video */
}

.video-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* Aspect ratio for 16:9 */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

@media screen and (max-width: 799px) {
  .video-grid {
    grid-template-columns: 1fr; /* 1 column for smaller screens */
  }
}

/**************************************************/
/* Small screen Content adjustment */


@media screen and (max-width: 600px) {
  #main {
    width: auto; /* Adjust the main container to be responsive */
    padding: 10px 30px; /* Add some padding so content doesn't touch the edges */
  }

  .thumbnail,
  .project-description {
    width: auto; /* Adjust width to be 100% on smaller screens */
    float: none; /* Disable floating so they stack vertically */
  }

  #intro {
    flex-direction: column; /* Stack intro text and image on top of each other */
  }

  #intro-text,
  #intro-image {
    width: 12em;
    margin: 0 auto; /* Centers the elements horizontally */
  }

  #intro-image img {
    width: 100%; /* Full width of its container */
  }

}



